.editor-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 auto;

  .editor-toolbar {
    width: 100%;
    min-height: 60px;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #f5f5f5;
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;

    &.active {
      opacity: 1;
      pointer-events: auto;
      cursor: auto;
      border: 2px solid #3373f5;
    }
  }

  .editor-content {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 2px solid #f5f5f5;
    transition: all 0.3s ease-in-out;

    &:focus {
      outline: none;
      border: 2px solid #3373f5;
    }
  }
}