.toolbar {
  display: flex;

  .toolbar-button {
    width: auto;
    height: 30px;
    padding: 0 10px;
    margin: 5px;
    background-color: #ffffff;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
      background-color: #f5f5f5;
    }

    &.active {
      background-color: #f1f1f1;
    }
  }

  .color-input {
    width: 30px;
    height: 30px;
    margin: 5px;
  }

  .select-words {
    min-width: 150px;
    height: 30px;
    margin: 5px;
  }
}