html {
  font-size: 14px;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial sans-serif;

  * {
    box-sizing: border-box;
  }

  .App {
    width: 100%;
    height: 100vh;
    padding: 10px;
  }
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

p {
  font-size: 1em;
}

button {
  background-color: var(--primaryColor);
  height: var(--buttonHeight);
  padding: var(--buttonSpacing);
  margin: var(--buttonMargin);
  color: var(--textColor);
  font-size: 1em;
  border: none;
  outline: none;
}