.typography {

  &.light {
    --primaryColor: #00bbe9;
    --textColor: #000000;
  }

  &.dark {
    --primaryColor: #000000;
    --textColor: #ffffff;
  }

  &.normal {
    --fieldHeight: 3em;
    --fieldSpacing: 0 1em;
    --buttonHeight: 3.5em;
    --buttonSpacing: 0 1em;
    --buttonMargin: 1em;
  }

  &.large {
    --fieldHeight: 4em;
    --fieldSpacing: 0 1.5em;
    --buttonHeight: 5em;
    --buttonSpacing: 0 1.5em;
    --buttonMargin: 1.5em;
  }
}